*{
                padding: 0;margin:0;
            }
			body{
			    height: 100%;
                width: 100%;
				background-color: #000000;
				}
            
			
            div{
                height:720px;
                width: 100%;
                display:grid;
                grid-template-rows: 10% 10% 75% 5%;
                gap:5px;
            }
            
			header{
                height: 100%;
                width: 100%;
                background: linear-gradient(to left, #000000,#3f2fa9,#00d5ff,#3f2fa9,#000000);
            }

            nav{
                height: 100%;
                width: 100%;
                background: linear-gradient(to left,#ffffff,#15ff00,#f2ff00,#f2ff00,#15ff00,#ffffff);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
            }

            iframe{
                height: 100%;
                width: 100%;
                background-color: white;
            }

            footer{
                height: 100%;
                width: 100%;
                background: linear-gradient(to left, #000000,#9b9b27,#eaff00,#9b9b27,#000000);
            }


            h1{
                background-image:url(color.jpg);
                background-clip: text;
                color: transparent;
                text-align: center;
                padding-top:1%;
                -webkit-text-stroke:1px black;
            }

            a{
                color: black;
                font-weight: bold;
                font-size: 20px;
                text-decoration: none;
                 padding:10px;
                width: 180px;
	            text-align:center;
            }

            a:hover{
                color: white;
                background-color: black;
                border-radius: 50px;
            }

            p{
                text-align: center;
                color: black;
                font-weight: bold;
                padding-top:10px;
            }
